version: "3.9"

services:
  app:
    build: .
    container_name: ts_app
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/mydb
    depends_on:
       db:
          condition: service_healthy

  db:
    image: postgres:16-alpine
    container_name: ts_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
